/com.autovend.software_0.2/out/
/com.autovend.software_0.2/bin/
/com.autovend.software_0.2/com.autovend.software_0.2.iml
/com.autovend.software.test_0.2/out/
/com.autovend.software.test_0.2/.idea
/com.autovend.software.test_0.2/com.autovend.software.test_0.2.iml
/com.autovend.hardware_0.2/bin/
/SENG300ProjectIteraion2.iml
/.idea
/.metadata/
